──────────────────────────────
$HBBLU$                  【三界神话玩家游戏规则】                  $NOR$
──────────────────────────────

日常维护：

一、故意破坏本游戏正常运行，严重侮辱，攻击，中伤他人；在本站
和其他分站游戏服务器上无节制的宣传其他站点的广告，我们将宣布
他为不受欢迎者，而相关连线地址将会被拒绝连线或者杀档

二、本游戏不禁止使用任何 $HIY$Bug$NOR$，但一旦抓到利用 $HIY$Bug$NOR$或其他游戏里
不完善的地方牟利或练功者，都将给予最严厉的处罚

三、除了系统帮助里所公布的有关游戏中谜题、机关、陷阱解法外，
管理员没有义务向玩家解释更多的事项

四、玩家无权抗议管理员对任何程序的修改，有想法可以建议


数据维护：

五、严禁使用和管理员一样以及类似的名字,严禁使用游戏中任何一
种 $HIY$NPC$NOR$的名字。违者关死牢或杀档

六、严禁使用和其他玩家相同的中文名字，以登陆先后为准，后者将
被勒令改名，置之不理者直接杀档

七、严禁向管理员索要任何物品和要求更改任何个人数据，特殊情况
请在相关留言板 $HIY$Post$NOR$你的情况

八、严禁向管理员要求查询任何的个人数据

九、严禁利用各种节日和任何的理由向管理员索要礼物。

十、对于系统意外当机玩家所损失的数据， 如果没有备份数，据管理
员没有义务给予恢复

十一、对于玩家档案数据意外损坏，如果玩家自己没有备份$HIY$（backup）$NOR$
档案，不予恢复关于备份详情请查询$HIY$（help backupd）$NOR$

十二、玩家自杀的档案，管理员无义务给予复档

十三、凡是 $HIY$ID$NOR$的管理密码忘记者，管理员无义务给予帮助修改，$HIY$ID$NOR$借
出后被自杀者，管理人员无义务给予帮助恢复


聊天与留言：相关帮助$HIY$（help channels）$NOR$

十四、凡是在任何的交谈频道扮演管理员身份扰乱秩序的，根据系统
记录将给予杀档

十五、凡是有意贬低管理员工作水平和上线贬低站点声誉的，将被直
接杀档或封连线地址

十六、玩家严禁 $HIY$Flood$NOR$系统，或戏弄其他玩家，比如 $HIY$#n look$NOR$，严禁
在公共场合练功和读书，违者关死牢

十七、凡是刷写留言板的直接杀档，相关连线地址给以暂封或永久性封
掉。

十八、关于留言板的使用请查询$HIY$（help board）$NOR$

十九、欢迎您随时监督所有巫师之言行，如有违反巫师之规则者，可
以向高级巫师或者巫师协会申诉。详情请参阅$HIY$（help wiz_rules）$NOR$


$HIR$本规则的解释权归三界神话巫师组所有，巫师组保留修改和增加游戏
规则的权利，修改将另行通知。$NOR$

